<template>
  <div id="app" v-md-theme="'default'">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <md-toolbar>
      <md-button @click="toggleMenu" class="md-icon-button" v-if="$mq.resize && $mq.below($mv.md)">
        <md-icon>menu</md-icon>
      </md-button>
      <router-link to="/" class="md-title" style="flex: 1"><img class="logo" src="/app/logo.png" /></router-link>
      <div v-if="$mq.resize && $mq.above($mv.md)">
        <router-link to="/browse" class="md-button">Browse</router-link>
        <router-link to="/login" class="md-button" v-if="!$store.state.auth.authenticated">Login/Register</router-link>
        <router-link to="/admin" class="md-button" v-if="$store.getters.isAdmin">Admin</router-link>
        <router-link to="/me" class="md-button" v-if="$store.state.auth.authenticated">Borrowed Books</router-link>
        <md-button v-if="$store.state.auth.authenticated" @click="logout">Logout</md-button>
      </div>
    </md-toolbar>
    <router-view></router-view>
    <md-sidenav class="md-left" ref="menu" v-if="$mq.resize && $mq.below($mv.md)">
      <md-toolbar class="md-large">
        <div class="md-toolbar-container">
          <h3 class="md-title">Digilibre</h3>
        </div>
      </md-toolbar>
      <md-list>
        <md-list-item>
          <router-link to="/browse" @click.native="closeMenu" class="md-button">Browse</router-link>
        </md-list-item>
        <md-list-item v-if="!$store.state.auth.authenticated">
          <router-link to="/login" @click.native="closeMenu" class="md-button">Login/Register</router-link>
        </md-list-item>
        <md-list-item v-if="$store.getters.isAdmin">
          <router-link to="/admin" @click.native="closeMenu" class="md-button">Admin</router-link>
        </md-list-item>
        <md-list-item v-if="$store.state.auth.authenticated">
          <router-link to="/me" @click.native="closeMenu" class="md-button">Borrowed Books</router-link>
        </md-list-item>
        <md-list-item v-if="$store.state.auth.authenticated" >
          <span @click="logout">Logout</span>
        </md-list-item>
      </md-list>
    </md-sidenav>
  </div>
</template>

<style>
  body {
    font-size: 20px;
    min-height: 100vh;
  }

  img.logo {
    max-height: 2rem;
  }

  #app {
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #f0f0f0;
  }

  .container {
    max-width: 78rem;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
  }

  .bg-white {
    background: #fff;
  }

  .mb {
    margin-bottom: 1rem;
  }

  .pl {
    padding: 2rem;
  }

  .message {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .message h3 {
    color: #999;
    text-align: center;
    font-size: 2rem;
    font-family: 'Roboto';
    font-weight: 200;
  }

  p.md-body-1, p.md-body-2 {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  /**
   * Center and crop thumbnails with CSS
   * http://jonathannicol.com/blog/2014/06/16/centre-crop-thumbnails-with-css/
   */
  .thumbnail {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
  }
  .thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }
  .thumbnail img.portrait {
    width: 100%;
    height: auto;
  }
</style>

<script>
  import authService from '../services/auth'
  export default {
    methods: {
      toggleMenu() {
        this.$refs.menu.toggle();
      },
      closeMenu() {
        this.$refs.menu.close();
      },
      logout() {
        authService.logout()
      }
    }
  }
</script>