<template>
  <div class="container" @click="toDetails">
    <div class="thumbnail">
      <img :src="book.img_path" class="portrait" :alt="book.title" />
    </div>
    <div class="overlay"></div>
    <article>
      <h3 class="md-title">{{ book.title | truncate(60) }}</h3>
      <p class="md-subtitle">by {{ book.author | truncate(20) }}</p>
    </article>
    <div class="cover">
      <h3 class="md-body-2">Publisher</h3>
      <h3 class="md-body-1">{{ book.publisher }}</h3>

      <h3 class="md-body-2">Quantity</h3>
      <p class="md-body-1" v-if="book.quantity > 0">{{ book.quantity }} in stock!</p>
      <p class="md-body-1" v-if="book.quantity === 0">Out of stock :(</p>

      <md-button class="md-raised md-accent" :disabled="!$store.state.auth.authenticated" @click="returnBook">Return</md-button>
      <md-button class="md-raised md-primary" :disabled="!$store.state.auth.authenticated || quantity === 0" @click="borrow">Borrow</md-button>
    </div>
  </div>
</template>

<style scoped>
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    cursor: pointer;
    background: #fff;
    padding: 0;
    position: relative;
  }

  .thumbnail {
    width: 100%;
    height: 20rem;
  }

  .cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    transition: .5s ease all;
    padding: 1rem;
    opacity: 0;
  }

  .cover:hover {
    opacity: 1;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.25);
    transition: .5s ease all;
  }

  .overlay:hover {
    background-color: rgba(0, 0, 0, 0);
  }

  article {
    position: absolute;
    width: calc(100% - 2rem);
    padding: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    background: rgba(255, 255, 255, .85);
    max-height: 50%;
    overflow: hidden;
  }

  .md-title {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 200;
  }

  .md-subtitle {
    color: #666;
    font-style: italic;
  }

  .author {
    font-size: 1.5rem;
  }

  @media screen and (max-width: 48rem) {
    article {
      padding: 0;
      padding-left: 1rem;
    }

    .thumbnail {
      height: 15rem;
    }

    .md-title {
      font-size: 1rem;
      line-height: 1.1rem;
    }

    .md-subtitle {
      font-size: .8rem;
    }
  }
</style>

<script>
  import { default as swal } from 'sweetalert2'

  export default {
    props: [
      'book',
    ],

    methods: {
      toDetails() {
        this.$router.push('/books/' + this.book.book_id)
      },
      borrow() {
        this.$http.post(`books/${this.book.book_id}/loan`)
          .then(({ data }) => {
            if (data.status === 'ok') {
              swal({
                type: 'success',
                title: 'Happy Reading!',
                text: 'You have successfully borrowed ' + this.book.title
              }).then(() => this.$router.go(`/books/${this.book.book_id}`))
            } else {
              swal({
                type: 'error',
                title: 'Sorry :(',
                text: 'Looks like you can\'t borrow this book again'
              })
            }
          })
          .catch(({ data }) => {
            swal({
              type: 'error',
              title: 'Sorry :(',
              text: data,
            })
          })
      },
      returnBook() {
        this.$http.delete(`books/${this.book.book_id}/loan`)
          .then(({ data }) => {
            if (data.status === 'ok') {
              swal({
                type: 'success',
                title: 'Thanks!',
                text: 'You have successfully returned ' + this.book.title
              }).then(() => this.$router.go(`/books/${this.book.book_id}`))
            } else {
              swal({
                type: 'error',
                title: 'Sorry :(',
                text: 'Looks like you haven\'t borrowed this book'
              })
            }
          })
          .catch(({ data }) => {
            swal({
              type: 'error',
              title: 'Sorry :(',
              text: data,
            })
          })
      },
    }
  }
</script>