<!-- Adapted from meetup search box, generated from https://shipow.github.io/searchbox/ -->
<template>
  <div class="wrapper">
    <svg xmlns="http://www.w3.org/2000/svg" style="display:none">
      <symbol xmlns="http://www.w3.org/2000/svg" id="sbx-icon-search-13" viewBox="0 0 40 40">
        <path d="M26.804 29.01c-2.832 2.34-6.465 3.746-10.426 3.746C7.333 32.756 0 25.424 0 16.378 0 7.333 7.333 0 16.378 0c9.046 0 16.378 7.333 16.378 16.378 0 3.96-1.406 7.594-3.746 10.426l10.534 10.534c.607.607.61 1.59-.004 2.202-.61.61-1.597.61-2.202.004L26.804 29.01zm-10.426.627c7.323 0 13.26-5.936 13.26-13.26 0-7.32-5.937-13.257-13.26-13.257C9.056 3.12 3.12 9.056 3.12 16.378c0 7.323 5.936 13.26 13.258 13.26z"
        fill-rule="evenodd" />
      </symbol>
      <symbol xmlns="http://www.w3.org/2000/svg" id="sbx-icon-clear-3" viewBox="0 0 20 20">
        <path d="M8.114 10L.944 2.83 0 1.885 1.886 0l.943.943L10 8.113l7.17-7.17.944-.943L20 1.886l-.943.943-7.17 7.17 7.17 7.17.943.944L18.114 20l-.943-.943-7.17-7.17-7.17 7.17-.944.943L0 18.114l.943-.943L8.113 10z" fill-rule="evenodd" />
      </symbol>
    </svg>
    <div class="sbx-meetup">
      <div role="search" class="sbx-meetup__wrapper">
        <input type="search" v-model="query" ref="searchbox" :placeholder="placeholder || 'Search...'" autocomplete="off" required="required" class="sbx-meetup__input" @input="onChange">
        <button type="submit" title="Submit your search query." class="sbx-meetup__submit">
          <svg role="img" aria-label="Search">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sbx-icon-search-13"></use>
          </svg>
        </button>
        <button type="reset" title="Clear the search query." class="sbx-meetup__reset" @click="focus">
          <svg role="img" aria-label="Reset">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sbx-icon-clear-3"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</template>

<style scoped>
  .wrapper {
    padding: 1rem;
  }

  .sbx-meetup {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 45px;
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 22px;
  }

  .sbx-meetup__wrapper {
    width: 100%;
    height: 100%;
  }

  .sbx-meetup__input {
    display: inline-block;
    border: 0;
    padding: 0;
    padding-right: 66px;
    padding-left: 12px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    white-space: normal;
    font-size: inherit;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }

  .sbx-meetup__input::-webkit-search-decoration, .sbx-meetup__input::-webkit-search-cancel-button, .sbx-meetup__input::-webkit-search-results-button, .sbx-meetup__input::-webkit-search-results-decoration {
    display: none;
  }

  .sbx-meetup__input:focus, .sbx-meetup__input:active {
    outline: 0;
    background: #FFFFFF;
  }

  .sbx-meetup__input::-webkit-input-placeholder {
    color: #999999;
  }

  .sbx-meetup__input::-moz-placeholder {
    color: #999999;
  }

  .sbx-meetup__input:-ms-input-placeholder {
    color: #999999;
  }

  .sbx-meetup__input::placeholder {
    color: #999999;
  }

  .sbx-meetup__submit {
    position: absolute;
    top: 0;
    right: 0;
    left: inherit;
    margin: 0;
    border: 0;
    border-radius: 0 3px 3px 0;
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    width: 45px;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: inherit;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }

  .sbx-meetup__submit::before {
    display: inline-block;
    margin-right: -4px;
    height: 100%;
    vertical-align: middle;
    content: '';
  }

  .sbx-meetup__submit:hover, .sbx-meetup__submit:active {
    cursor: pointer;
  }

  .sbx-meetup__submit:focus {
    outline: 0;
  }

  .sbx-meetup__submit svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    fill: #505050;
  }

  .sbx-meetup__reset {
    display: none;
    position: absolute;
    top: 12px;
    right: 45px;
    margin: 0;
    border: 0;
    background: none;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    fill: rgba(0, 0, 0, 0.5);
  }

  .sbx-meetup__reset:focus {
    outline: 0;
  }

  .sbx-meetup__reset svg {
    display: block;
    margin: 4px;
    width: 13px;
    height: 13px;
  }

  .sbx-meetup__input:valid ~ .sbx-meetup__reset {
    display: block;
    -webkit-animation-name: sbx-reset-in;
            animation-name: sbx-reset-in;
    -webkit-animation-duration: .15s;
            animation-duration: .15s;
  }

  @-webkit-keyframes sbx-reset-in {
    0% {
      -webkit-transform: translate3d(-20%, 0, 0);
              transform: translate3d(-20%, 0, 0);
      opacity: 0;
    }
    100% {
      -webkit-transform: none;
              transform: none;
      opacity: 1;
    }
  }

  @keyframes sbx-reset-in {
    0% {
      -webkit-transform: translate3d(-20%, 0, 0);
              transform: translate3d(-20%, 0, 0);
      opacity: 0;
    }
    100% {
      -webkit-transform: none;
              transform: none;
      opacity: 1;
    }
  }

  @media only screen and (max-width: 48rem) {
    .wrapper {
      padding: .25rem;
    }
  }
</style>

<script>
  export default {
    props: [
      'placeholder'
    ],

    data() {
      return {
        query: '',
      }
    },

    methods: {
      focus() {
        this.$refs.searchbox.focus();
      },
      onChange(e) {
        this.$emit('change', e.target.value)
      }
    }
  }
</script>