<template>
  <div class="container" >
    <h3 class="md-display-2">All books</h3>
    <md-table-card v-if="!loading">
      <search-box placeholder="Filter..." @change="onSearchQueryChange"></search-box>
      <div class="actions">
        <md-button class="md-accent md-raised" id="button-new" @click="create('#button-new')">Add New...</md-button>
      </div>
      <div v-if="loading" class="message">
        <h3>Loading...</h3>
      </div>
      <div v-if="!loading && results.length === 0" class="message">
        <h3>Empty Results.</h3>
      </div>
      <md-table v-if="results.length > 0">
        <md-table-header>
          <md-table-row>
            <md-table-head>Cover</md-table-head>
            <md-table-head>Title</md-table-head>
            <md-table-head>Author</md-table-head>
            <md-table-head>Publisher</md-table-head>
            <md-table-head id="actions-head">Actions</md-table-head>
          </md-table-row>
        </md-table-header>

        <md-table-body v-for="book in results" :key="book.book_id">
          <md-table-row>
            <md-table-cell>
              <md-avatar><img :src="book.img_path" :alt="book.title" /></md-avatar>
            </md-table-cell>
            <md-table-cell>{{book.title}}</md-table-cell>
            <md-table-cell>{{book.author}}</md-table-cell>
            <md-table-cell>{{book.publisher}}</md-table-cell>
            <md-table-cell>
              <md-button class="md-icon-button" @click="edit(book)">
                <md-icon class="md-accent">edit</md-icon>
              </md-button>
              <md-button class="md-icon-button" @click="remove(book.book_id)">
                <md-icon class="md-accent">delete</md-icon>
              </md-button>
            </md-table-cell>
          </md-table-row>
        </md-table-body>
      </md-table>
    </md-table-card>

    <md-button class="md-fab fab" id="fab" @click="create('#fab')">
      <md-icon>add</md-icon>
    </md-button>

    <md-dialog ref="addDialog" :md-open-from="source" :md-close-to="source">
      <md-dialog-title>Add a new Book</md-dialog-title>
      <md-dialog-content>
        <md-input-container :class="{ 'md-input-invalid': shouldRenderError(createError, 'title') }">
          <label>Title</label>
          <md-input v-model="newPost.title" required></md-input>
          <span class="md-error" v-if="shouldRenderError(createError, 'title')">{{createError.title[0]}}</span>
        </md-input-container>
        <md-input-container :class="{ 'md-input-invalid': shouldRenderError(createError, 'author') }">
          <label>Author</label>
          <md-input v-model="newPost.author" required></md-input>
          <span class="md-error" v-if="shouldRenderError(createError, 'author')">{{createError.author[0]}}</span>
        </md-input-container>
        <md-input-container :class="{ 'md-input-invalid': shouldRenderError(createError, 'publisher') }">
          <label>Publisher</label>
          <md-input v-model="newPost.publisher" required></md-input>
          <span class="md-error" v-if="shouldRenderError(createError, 'publisher')">{{createError.publisher[0]}}</span>
        </md-input-container>
        <md-input-container :class="{ 'md-input-invalid': shouldRenderError(createError, 'quantity') }">
          <label>Quantity</label>
          <md-input v-model="newPost.quantity" type="number" required></md-input>
          <span class="md-error" v-if="shouldRenderError(createError, 'quantity')">{{createError.quantity[0]}}</span>
        </md-input-container>
        <md-input-container :class="{ 'md-input-invalid': shouldRenderError(createError, 'img_path') }">
          <label>Cover Image URL</label>
          <md-input v-model="newPost.img_path" required></md-input>
          <span class="md-error" v-if="shouldRenderError(createError, 'img_path')">{{createError.img_path[0]}}</span>
        </md-input-container>
        <md-input-container :class="{ 'md-input-invalid': shouldRenderError(createError, 'description') }">
          <label>Description</label>
          <md-textarea v-model="newPost.description" required></md-textarea>
          <span class="md-error" v-if="shouldRenderError(createError, 'description')">{{createError.description[0]}}</span>
        </md-input-container>
      </md-dialog-content>
      <md-dialog-actions>
        <md-button class="md-primary" @click="closeDialog('addDialog')">Cancel</md-button>
        <md-button class="md-primary" @click="submitNew">Save</md-button>
      </md-dialog-actions>
    </md-dialog>

    <md-dialog ref="editDialog" md-open-from="#actions-head" md-close-to="#actions-head">
      <md-dialog-title>Edit a Book</md-dialog-title>
      <md-dialog-content>
        <md-input-container :class="{ 'md-input-invalid': shouldRenderError(editError, 'title') }">
          <label>Title</label>
          <md-input v-model="selected.title" required></md-input>
          <span class="md-error" v-if="shouldRenderError(editError, 'title')">{{editError.title[0]}}</span>
        </md-input-container>
        <md-input-container :class="{ 'md-input-invalid': shouldRenderError(editError, 'author') }">
          <label>Author</label>
          <md-input v-model="selected.author" required></md-input>
          <span class="md-error" v-if="shouldRenderError(editError, 'author')">{{editError.author[0]}}</span>
        </md-input-container>
        <md-input-container :class="{ 'md-input-invalid': shouldRenderError(editError, 'publisher') }">
          <label>Publisher</label>
          <md-input v-model="selected.publisher" required></md-input>
          <span class="md-error" v-if="shouldRenderError(editError, 'publisher')">{{editError.publisher[0]}}</span>
        </md-input-container>
        <md-input-container :class="{ 'md-input-invalid': shouldRenderError(editError, 'quantity') }">
          <label>Quantity</label>
          <md-input v-model="selected.quantity" type="number" required></md-input>
          <span class="md-error" v-if="shouldRenderError(editError, 'quantity')">{{editError.quantity[0]}}</span>
        </md-input-container>
        <md-input-container :class="{ 'md-input-invalid': shouldRenderError(editError, 'img_path') }">
          <label>Cover Image URL</label>
          <md-input v-model="selected.img_path" required></md-input>
          <span class="md-error" v-if="shouldRenderError(editError, 'img_path')">{{editError.img_path[0]}}</span>
        </md-input-container>
        <md-input-container :class="{ 'md-input-invalid': shouldRenderError(editError, 'description') }">
          <label>Description</label>
          <md-textarea v-model="selected.description" required></md-textarea>
          <span class="md-error" v-if="shouldRenderError(editError, 'description')">{{editError.description[0]}}</span>
        </md-input-container>
      </md-dialog-content>
      <md-dialog-actions>
        <md-button class="md-primary" @click="closeDialog('editDialog')">Cancel</md-button>
        <md-button class="md-primary" @click="submitEdit">Save</md-button>
      </md-dialog-actions>
    </md-dialog>
  </div>
</template>

<style>
  .md-dialog {
    width: 100%;
    max-width: 48rem;
    overflow-y: auto;
  }
</style>

<style scoped>
  .fab {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 9999;
  }
  .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
  }

  textarea.md-input {
    min-height: 8rem;
  }
</style>

<script>
  import Fuse from 'fuse.js'
  import SearchBox from '../components/SearchBox.vue'
  import {default as swal} from 'sweetalert2'
  import isEmpty from 'lodash/isEmpty'
  import has from 'lodash/has'

  export default {
    data() {
      return {
        searchEngine: new Fuse(),
        searchQuery: '',
        results: [],
        books: [],
        loading: true,
        selected: {},
        source: '#fab',
        newPost: {},
        createError: {},
        editError: {},
      }
    },

    created() {
      this.fetchData()
    },

    methods: {
      fetchData() {
        const options = {
          keys: ['title', 'author', 'publisher', 'description'],
        }
        this.$http.get('books')
          .then((res => res.data))
          .then(({ data }) => {
            this.books = data
            this.loading = false
            this.searchEngine = new Fuse(this.books, options)
            this.results = this.books
          })
      },
      onSearchQueryChange(value) {
        if (!!value) {
          this.results = this.searchEngine.search(value)
        } else {
          this.results = this.books;
        }
      },
      edit(book) {
        this.selected = book
        this.$refs.editDialog.open()
      },
      create(source) {
        this.source = source
        this.$nextTick(() => this.$refs.addDialog.open())
      },
      closeDialog(ref) {
        this.$refs[ref].close()
      },
      submitNew() {
        this.$http
          .post('books', this.newPost)
          .then(({ data }) => {
            if (data.status === 'ok') {
              this.createError = {}
              swal({
                title: 'Sweet!',
                type: 'success',
                text: 'Successfully add a new book'
              }).then(() => {
                this.newPost = {}
                this.fetchData()
                this.$refs.addDialog.close()
              })
            } else {
              swal({
                title: 'Sorry :(',
                type: 'success',
                text: 'The server throws this error: ' + data.error
              })
            }
          })
          .catch(({ data }) => {
            this.createError = data.error
          })
      },
      submitEdit() {
        this.$http
          .put(`books/${this.selected.book_id}`, this.selected)
          .then(({ data }) => {
            if (data.status === 'ok') {
              this.editError = {}
              swal({
                title: 'Sweet!',
                type: 'success',
                text: 'Successfully edited the book'
              }).then(() => this.$refs.editDialog.close())
            } else {
              swal({
                title: 'Sorry :(',
                type: 'success',
                text: 'The server throws this error: ' + data.error
              })
            }
          })
          .catch(({ data }) => {
            this.editError = data.error
          })
      },
      remove(id) {
        swal({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, delete it!',
          cancelButtonText: 'Cancel!'
        }).then(() => {
          this.$http.delete(`books/${id}`)
            .then(({ data }) => {
              if (data.status === 'ok') {
                swal(
                  'Deleted!',
                  'The book has been deleted.',
                  'success'
                )
                this.fetchData()
              } else {
                swal(
                  'Sorry :(',
                  'We can\'t delete it, error:' + data.error,
                  'error'
                )
              }
            })
        }, (dismiss) => {
          if (dismiss === 'cancel') {
            swal(
              'Cancelled',
              'The book is still there :)',
              'error'
            )
          }
        })
      },
      shouldRenderError(error, field) {
        console.log('asd', error)
        return (!isEmpty(error) && has(error, field) && error[field].length > 0)
      }
    },

    components: {
      SearchBox,
    }
  }
</script>x