<template>
  <div class="container">
    <div class="row">
      <div class="col-md">
        <md-whiteframe class="pl bg-white mb">
          <div class="row">
            <div class="col-md-4 thumbnail">
              <img :src="img_path" :alt="title" />
            </div>
            <article class="col-md-8">
              <h3 class="md-headline">{{title}}</h3>
              <h3 class="md-subtitle">by {{author}}, published by {{publisher}}</h3>
              <p class="md-body-1">{{description}}</p>
              <div class="actions">
                <p class="md-body-2" v-if="quantity > 0">{{ quantity }} in stock!</p>
                <p class="md-body-2" v-if="quantity === 0">Out of stock :(</p>
              </div>
              <div class="actions">
                <md-button class="md-raised md-accent" :disabled="!$store.state.auth.authenticated || !loan" @click="returnBook">Return</md-button>
                <md-button class="md-raised md-primary" :disabled="!$store.state.auth.authenticated || quantity === 0 || !!loan" @click="borrow">Borrow</md-button>
              </div>
            </article>
          </div>
        </md-whiteframe>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <md-whiteframe class="pl bg-white">
          <h3 class="md-title">Reviews</h3>
          <div v-if="reviews.length === 0" class="message">
            <h3>Be the first to review!<h3>
          </div>
          <md-list class="md-triple-line" v-for="review in reviews" v-if="reviews.length > 0" :key="review.review_id">
            <md-list-item>
              <md-avatar class="review-user-icon">
                <md-icon>account_circle</md-icon>
              </md-avatar>
              <div class="md-list-text-container">
                <span>{{review.user.username}}</span>
                <time>{{review.date}}</time>
                <p>{{review.content}}</p>
              </div>
            </md-list-item>
          </md-list>
        </md-whiteframe>
      </div>
      <div class="col-md">
        <md-whiteframe class="pl bg-white flex">
          <md-input-container>
            <label>Review</label>
            <md-textarea required v-model="review"></md-textarea>
          </md-input-container>
          <div class="actions">
            <md-button class="md-raised md-accent" @click="submitReview" :disabled="!review">Submit</md-button>
          </div>
        </md-whiteframe>
      </div>
    </div>
  </div>
</template>

<style scoped>
  .thumbnail {
    width: 100%;
    height: 25rem;
  }
  article {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
  }
  article p {
    flex: 1;
  }
  .col-md {
    flex: 1;
    flex-basis: 20em;
  }
  .actions {
    align-self: flex-end;
    display: flex;
  }

  .review-user-icon {
    min-height: 48px;
    height: 48px;
    width: 48px;
    min-width: 48px;
    margin-top: 4px!important;
    margin-bottom: auto!important;
  }

  .review-user-icon .md-icon {
    min-height: 48px;
    height: 48px;
    width: 48px;
    min-width: 48px;
  }

  .review-user-icon .material-icons {
    font-size: 48px;
  }
</style>

<script>
  import Vue from 'vue'
  import { default as swal } from 'sweetalert2'

  export default {
    data() {
      return {
        book_id: this.$route.params.id,
        img_path: '',
        title: '',
        author: '',
        publisher: '',
        description: '',
        reviews: [],
        review: '',
        loan: null
      }
    },

    beforeRouteEnter(to, from, next) {
      Vue.http.get('/api/books/' + to.params.id)
        .then((res => res.data))
        .then(({ data }) => next(vm => {
          vm.img_path = data.img_path
          vm.title = data.title
          vm.author = data.author
          vm.publisher = data.publisher
          vm.description = data.description
          vm.quantity = data.quantity
          vm.reviews = data.reviews
        }))
    },

    created() {
      this.fetchData()
    },

    methods: {
      fetchData() {
        this.$http
          .get('/api/books/' + this.$route.params.id)
          .then((res => res.data))
          .then(({ data }) => {
            this.img_path = data.img_path
            this.title = data.title
            this.author = data.author
            this.publisher = data.publisher
            this.description = data.description
            this.quantity = data.quantity
            this.reviews = data.reviews
          })
        this.$http
          .get(`/api/books/${this.$route.params.id}/loan`)
          .then((res => res.data))
          .then(({ data }) => {
            this.loan = data
          })
      },

      borrow() {
        this.$http.post(`books/${this.book_id}/loan`)
          .then(({ data }) => {
            if (data.status === 'ok') {
              this.fetchData()
              swal({
                type: 'success',
                title: 'Happy Reading!',
                text: 'You have successfully borrowed ' + this.title
              })
            } else {
              swal({
                type: 'error',
                title: 'Sorry :(',
                text: 'Looks like you can\'t borrow this book again'
              })
            }
          })
          .catch(({ data }) => {
            swal({
              type: 'error',
              title: 'Sorry :(',
              text: data,
            })
          })
      },

      returnBook() {
        this.$http.delete(`books/${this.book_id}/loan`)
          .then(({ data }) => {
            if (data.status === 'ok') {
              this.fetchData()
              swal({
                type: 'success',
                title: 'Thanks!',
                text: 'You have successfully returned ' + this.title
              })
            } else {
              swal({
                type: 'error',
                title: 'Sorry :(',
                text: 'Looks like you haven\'t borrowed this book'
              })
            }
          })
          .catch(({ data }) => {
            swal({
              type: 'error',
              title: 'Sorry :(',
              text: data,
            })
          })
      },

      submitReview() {
        this.$http.post(`books/${this.book_id}/review`, { content: this.review })
          .then(({ data }) => {
            if (data.status === 'ok') {
              this.fetchData()
              this.review = ''
              swal({
                type: 'success',
                title: 'Thanks!',
                text: 'You have successfully reviewed ' + this.title
              })
            } else {
              swal({
                type: 'error',
                title: 'Sorry :(',
                text: 'Our server throws this error: ' + data.error
              })
            }
          })
      }
    }
  }
</script>

