<template>
  <div class="container">
    <search-box ref="searchbox" placeholder="Browse our collections..." @change="onSearchQueryChange"></search-box>
    <div v-if="loading" class="message">
      <h3>Loading...</h3>
    </div>
    <div v-if="!loading && results.length === 0" class="message">
      <h3>We don't have that :(</h3>
    </div>
    <div class="items" v-if="!loading && results.length > 0">
      <div v-for="book in results" :key="book.book_id" class="item">
        <book-card
          :book="book"
        ></book-card>
      </div>
    </div>

  </div>
</template>

<style scoped>
  .md-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .items {
    overflow: hidden;
  }
  .items .item {
    float: left;
    width: 25%;
    padding: 1rem;
  }

  @media only screen and (max-width: 48rem) {
    .items .item {
      width: 50%;
      padding: .25rem;
    }
  }
</style>

<script>
  import BookCard from '../components/BookCard.vue'
  import SearchBox from '../components/SearchBox.vue'
  import Fuse from 'fuse.js'

  export default {
    data() {
      return {
        searchEngine: new Fuse(),
        searchQuery: '',
        results: [],
        books: [],
        loading: true
      }
    },

    created() {
      const options = {
        keys: ['title', 'author', 'publisher', 'description'],
      }

      this.$http.get('books')
        .then((res => res.data))
        .then(({ data }) => {
          this.books = data
          this.loading = false
          this.searchEngine = new Fuse(this.books, options)
          this.results = this.books
        })
        .then(() => this.$refs.searchbox.focus())
    },

    methods: {
      onSearchQueryChange(value) {
        if (!!value) {
          this.results = this.searchEngine.search(value)
        } else {
          this.results = this.books
        }
      }
    },

    components: {
      BookCard,
      SearchBox
    }
  }
</script>