<template>
  <div class="container">
    <h3 class="title">Digilibre</h3>
    <h3 class="subtitle">A whole new digital experience for your books.</h3>
    <div class="cta-container">
      <router-link to="/browse" class="md-button md-raised md-primary">Browse</router-link>
      <router-link to="/login" class="md-button md-raised md-accent" v-if="!$store.state.auth.authenticated">Login/Register</router-link>
      <router-link to="/admin" class="md-button md-raised md-accent" v-if="$store.getters.isAdmin">Admin</router-link>
      <router-link to="/me" class="md-button md-raised md-accent" v-if="$store.state.auth.authenticated">Borrowed Books</router-link>
    </div>
  </div>
</template>

<style scoped>
  .container {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title, .subtitle {
    text-align: center;
    font-family: 'Roboto';
  }

  .title {
    font-weight: 700;
    font-size: 5rem;
    line-height: 5.5rem;
    margin-bottom: .5rem;
    color: #333;
  }

  .subtitle {
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 200;
    color: #999;
  }

  .cta-container {
    margin-top: 1rem;
    display: flex;
  }

  @media only screen and (max-width: 48rem) {
    .subtitle {
      font-size: 1.5rem;
      line-height: 1.8rem;
    }
    .cta-container {
      flex-direction: column;
    }
  }

</style>