<template>
  <div class="container">
    <div class="row center-xs" v-if="!registering">
      <div class="col-sm-6">
        <md-card>
          <md-card-header>
            <h3 class="md-title">Login</h3>
          </md-card-header>
          <md-card-content>
            <form @keyup.enter="login">
              <md-input-container>
                <label>Username</label>
                <md-input v-model="user.username"></md-input>
              </md-input-container>
              <md-input-container md-has-password>
                <label>Password</label>
                <md-input type="password" v-model="user.password"></md-input>
              </md-input-container>
            </form>
          </md-card-content>
          <md-card-actions>
            <md-button class="md-accent" @click="changeMode">Register</md-button>
            <md-button class="md-primary" @click="login">Login</md-button>
          </md-card-actions>
        </md-card>
      </div>
    </div>
    <div class="row center-xs" v-if="registering">
      <div class="col-sm-6">
        <md-card>
          <md-card-header>
            <h3 class="md-title">Register</h3>
          </md-card-header>
          <md-card-content>
            <form @keyup.enter="register">
              <md-input-container>
                <label>Username</label>
                <md-input v-model="user.username"></md-input>
              </md-input-container>
              <md-input-container md-has-password>
                <label>Password</label>
                <md-input type="password" v-model="user.password"></md-input>
              </md-input-container>
              <md-input-container md-has-password>
                <label>Confirm Password</label>
                <md-input type="password" v-model="user.password_confirmation"></md-input>
              </md-input-container>
            </form>
          </md-card-content>
          <md-card-actions>
            <md-button class="md-accent" @click="changeMode">Login</md-button>
            <md-button class="md-primary" @click="register">Register</md-button>
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </div>
</template>

<script>
  import authService from '../services/auth'
  export default {
    data() {
      return {
        user: {
          username: '',
          password: '',
          password_confirmation: '',
        },
        registering: false
      }
    },

    methods: {
      login() {
        authService.login(this.user)
      },

      register() {
        authService.register(this.user)
      },

      changeMode() {
        this.registering = !this.registering
      }
    }
  }
</script>