<template>
  <div class="container">
    <h3 class="md-display-2">Your Borrowed Books</h3>
    <div v-if="loading" class="message">
      <h3>Loading...</h3>
    </div>
    <div v-if="!loading && loans.length === 0" class="message">
      <h3>All clear!</h3>
    </div>
    <md-table-card v-if="loans.length > 0">
      <md-table>
        <md-table-header>
          <md-table-row>
            <md-table-head>Cover</md-table-head>
            <md-table-head>Title</md-table-head>
            <md-table-head>Author</md-table-head>
            <md-table-head>Publisher</md-table-head>
            <md-table-head>Actions</md-table-head>
          </md-table-row>
        </md-table-header>

        <md-table-body>
          <md-table-row v-for="loan in loans" :key="loan.loan_id">
            <md-table-cell>
              <md-avatar><img :src="loan.book.img_path" :alt="loan.book.title" /></md-avatar>
            </md-table-cell>
            <md-table-cell>{{loan.book.title}}</md-table-cell>
            <md-table-cell>{{loan.book.author}}</md-table-cell>
            <md-table-cell>{{loan.book.publisher}}</md-table-cell>
            <md-table-cell>
              <a href="#" class="md-icon-button md-accent" @click="returnBook(loan.book.book_id)">
                <md-icon class="md-accent">check_circle</md-icon>
                <md-tooltip md-direction="right">Return</md-tooltip>
              </a>
              <router-link :to="`/books/${loan.book.book_id}`">
                <md-icon class="md-accent">visibility</md-icon>
                <md-tooltip md-direction="right">To this book's page</md-tooltip>
              </router-link>
            </md-table-cell>
          </md-table-row>
        </md-table-body>
      </md-table>
    </md-table-card>
  </div>
</template>

<style scoped>
  .md-table-head {
    text-align: center;
  }
</style>

<script>
  import { default as swal } from 'sweetalert2'

  export default {
    data() {
      return {
        loans: [],
        loading: true,
      }
    },

    created() {
      this.fetchData()
    },

    methods: {
      fetchData() {
        this.$http
          .get('users/loans')
          .then((res => res.data))
          .then(({ data }) => {
            this.loading = false
            this.loans = data
          })
      },

      toDetails(id) {
        this.$router.go(`books/${id}`)
      },

      returnBook(id) {
        this.$http.delete(`books/${id}/loan`)
          .then(({ data }) => {
            if (data.status === 'ok') {
              this.fetchData()
              swal({
                type: 'success',
                title: 'Thanks!',
                text: 'You have successfully returned this book'
              })
            } else {
              swal({
                type: 'error',
                title: 'Sorry :(',
                text: 'Looks like you haven\'t borrowed this book'
              })
            }
          })
      },
    }
  }
</script>