<template>
  <div class="container fullheight mid">
    <div>
      <h1 class="md-title big">404</h1>
      <p class="subtitle">Pardon, ce n'est pas ici!</p>
    </div>
  </div>
</template>

<style>
  #app {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .fullheight {
    flex: 1;
  }

  .mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .md-title.big {
    font-size: 10rem;
    line-height: 10rem;
    margin: 0;
    text-align: center;
  }

  .subtitle {
    color: #999;
    margin-top: 0;
    font-size: 2rem;
    text-align: center;
  }
</style>